
.idea/vcs.xml
.idea/Python-PIL.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/pil_practice.cpython-39.pyc
halftone_tiger.jpg
